@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*navegador*/
.navegador {
  background-color: #1c448e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navegador .logo {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.navegador ul {
  list-style: none;
  display: flex;
  justify-content: end;
}

.navegador ul li a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  padding: 16px 8px;
  list-style: none;
  align-items: end;
  justify-content: center;
}

.navegador .fa-bars {
  display: none;
}

@media (max-width: 550px) {
  .navegador .fa-bars {
    display: block;
    font-size: 32px;
    margin: 10px;
    color: #ffffff;
  }
  .navegador .fa-bars:hover + ul {
    right: 0;
  }
  .navegador ul {
    right: -350px;
    top: 0;
    position: fixed;
    background-color: #ffffff;
    width: 250px;
    height: 100vh;
    z-index: 5;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition: 0.5s;
  }
  .navegador ul li a {
    color: black;
  }
}
/*fin navegador*/
/*portada*/
.portada {
  width: 100%;
  background-image: url(../multimedia/img/camion-carretera.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

.img a {
  margin-top: 0;
  font-size: 40px;
}

.contenido p {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.contenido1 p {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/* portada*/
.titulo {
  margin-top: 0;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 40px;
  color: #1c448e;
}

/*fin portada*/
.titulo1 {
  padding: 0;
  background-color: #ffffff;
  color: #1c448e;
  font-family: "Roboto", sans-serif;
  text-align: start;
  font-size: 30px;
}

/*servicios*/
h1 {
  padding: 10px;
  margin: 10px;
  text-align: start;
  font-size: 50px;
}

.titulo1 h2 {
  margin-left: 10px;
  width: 800px;
  justify-content: space-around;
  align-items: start;
}

.contenedor-cajas {
  font-size: xx-large;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  color: #ffffff;
}

/*rutas*/
.padre {
  display: grid;
  width: 100%;
  grid-template-columns: 4fr 2fr;
  row-gap: 20px;
  column-gap: 20px;
  justify-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  margin-left: 10px 10px;
  padding: 10px;
}

/*formularios de contactos*/
.formulario {
  width: 700px;
  background-color: #1c448e;
  margin: 40px auto;
  border-radius: 5px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "contactanos  contactanos" "nombre        email" "telefono      asunto" "mensaje        mensaje" "boton          boton";
}

.formulario h2 {
  grid-area: contactanos;
  color: #ffffff;
  padding: 10px;
}

.formulario label {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding: 10px;
}

.formulario label input,
.formulario label textarea {
  background-color: #1c448e;
  border: none;
  border-bottom: 1px solid #ffffff;
  padding: 10px;
  color: #ffffff;
}

.formulario label:nth-child(2) {
  grid-area: nombre;
}

.formulario label:nth-child(3) {
  grid-area: email;
}

.formulario label:nth-child(4) {
  grid-area: telefono;
}

.formulario label:nth-child(5) {
  grid-area: asunto;
}

.formulario label:nth-child(6) {
  grid-area: mensaje;
}

.formulario button {
  grid-area: boton;
  background-color: #ffffff;
  color: #1c448e;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}

@media (max-width: 700px) {
  .formulario {
    width: auto;
    margin: 40px 0px;
    border-radius: none;
    grid-template-areas: "contactanos  contactanos" "nombre        nombre" "email         email" "telefono      telefono" "asunto        asunto" "mensaje       mensaje" "boton          boton";
  }
}
/* mapa ubicacion*/
.titulo h3 {
  display: flex;
  color: #1c448e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mapa {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*footer*/
.footer {
  background-color: #1c448e;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin: 0px;
}

.footer .compania {
  width: 500px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.footer .compania .redes a i {
  color: #ffffff;
  font-size: 28px;
}

.footer .direccion h3 p {
  color: #ffffff;
  margin: 10px;
  padding: 10px;
}

/*fin footer*/

/*# sourceMappingURL=styles.css.map */
