/* variables */
$primary-color: blue;
$secondary-color: #540b0e;
$third-color: #9e2a2b;
$background: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "navegador";
@import "portada";

.titulo1 {
  padding: 0;
  background-color: $background;
  text-align: start;
  font-size: 30px;
  @include titulo-font-style;git

  h2 {
    margin-left: 10px;
    width: 800px;
    justify-content: space-around;
    align-items: start;
  }
}

/*servicios*/
h1 {
  padding: 10px;
  margin: 10px;
  text-align: start;
  font-size: 50px;
}

.contenedor-cajas {
  font-size: xx-large;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  color: $background;
}

/*rutas*/
.padre {
  display: grid;
  width: 100%;
  grid-template-columns: 4fr 2fr;
  row-gap: 20px;
  column-gap: 20px;
  justify-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  margin-left: 10px 10px;
  padding: 10px;
}

.mapa {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*formularios de contactos*/
.formulario {
  width: 700px;
  background-color: $primary-color;
  margin: 40px auto;
  border-radius: 5px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "contactanos  contactanos"
    "nombre        email"
    "telefono      asunto"
    "mensaje        mensaje"
    "boton          boton";

  h2 {
    grid-area: contactanos;
    color: $background;
    padding: 10px;
  }

  button {
    grid-area: boton;
    background-color: $background;
    color: $primary-color;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
  }

  .button-activado {
    @extend button;
    color: $secondary-color;
  }

  .button-desactivado {
    @extend button;
    color: gray;
  }

  label {
    display: flex;
    flex-direction: column;
    color: $background;
    padding: 10px;

    input,
    textarea {
      background-color: $primary-color;
      border: none;
      border-bottom: 1px solid $background;
      padding: 10px;
      color: $background;
    }

    &:nth-child(2) {
      grid-area: nombre;
    }

    &:nth-child(3) {
      grid-area: email;
    }
    &:nth-child(5) {
      grid-area: asunto;
    }
    &:nth-child(6) {
      grid-area: mensaje;
    }
  }
}

@media (max-width: 700px) {
  .formulario {
    width: auto;
    margin: 40px 0px;
    border-radius: none;
    grid-template-areas:
      "contactanos  contactanos"
      "nombre        nombre"
      "email         email"
      "telefono      telefono"
      "asunto        asunto"
      "mensaje       mensaje"
      "boton          boton";
  }
}

/*footer*/
.footer {
  background-color: $primary-color;
  color: $background;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin: 0px;
  .direccion h3 p {
    color: $background;
    margin: 10px;
    padding: 10px;
  }
  .compania {
    width: 500px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    .redes a i {
      color: $background;
      font-size: 28px;
    }
  }
}

/*fin footer*/
